<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WikiGame</title>
  <link rel="stylesheet" href="/static/main/style.css">
</head>
<body>
  <header>
    <h1 class="gecis">Wiki Game</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/companies">Companies</a></li>
        <li><a href="/games">Games</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer>
    <p>Digital Skills Lab Project 2022-2033 <strong>Luiss</strong></p>
  </footer>
  </body>
  </html>
  
  
  